ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
ul#tabs li {
    display: inline-block;
    background-color: #67B1DC;
    padding: 15px 15px;
    margin-bottom: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
ul#tabs li:hover {
    background-color: #000000;
}
ul#tabs li.active {
    background-color: #000000;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li {
    display: none;
}
ul#tab li.active {
    display: block;
}

ul#MXtabs {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
ul#MXtabs li {
    display: inline-block;
    background-color: #CA3C3C;
    padding: 15px 15px;
    margin-bottom: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
ul#MXtabs li:hover {
    background-color: #000000;
}
ul#MXtabs li.active {
    background-color: #000000;
    display: inline-block;
}
ul#MXtab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#MXtab li {
    display: none;
}
ul#MXtab li.active {
    display: block;
}